.App {
  text-align: center;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
}

.recipeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recipe {
  display: flex;
  flex-direction: row;
}

.ingredients_list {
  list-style-type: none;
}
