.App {
  text-align: center;
}

p {
  padding: 0px;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
}

.recipeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recipe {
  display: flex;
  flex-direction: row;
}

.ingredients {
  border-right: 2px solid gray;
  width: 75%;
}

.ingredients_list {
  list-style-type: none;
}

.method {
  padding: 0 120px;
}
